html, body{
 margin: 0px; 
 overflow: hidden !important; 
}
body {
    position: relative;
}

.cursor {
    z-index: 1001;
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    margin-top: 18px;
    margin-bottom: 0px;
    margin-left: 18px;
    margin-right: 0px;
    display: none;
    border: 18px solid #ea281e;
    border-radius: 100%;
    box-sizing: border-box;
    transform: translate(-100%, -100%);
    transition: all .1s ease-out;
    transition-property: width,height,border;
    will-change: width,height,transform,border;
    pointer-events: none;

}
.cursor.hover {
    width: 64px;
    height: 64px;
    margin: 32px 0 0 32px;
    border-width: 5px;;
}

.drag {
    position: absolute;
    top: 0;
    left: 0;
    width: 69px;
    height: 69px;
    margin: -32px 0 0 -32px;
    /* display: none; */
    border: 5px solid #ea281e;
    border-radius: 100%;
    /* opacity: 0; */
    transform: translate3d(75vw, 65vh, 0px);
    transition: opacity .2s cubic-bezier(.4,0,.2,1);
    transition-delay: 0s;
    transition-delay: 1s;
    will-change: opacity,transform;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 999;
}

.showDrag {
    display: none;
}

.drag span {
    position: relative;
    top: 50%;
    left: 50%;
    display: block;
    color: #ea281e;
    text-align: center;
    transform: translate(-50%,-50%) rotate(25deg);
}

.video {
    max-width: calc(100%-100px);
    max-height: calc(100%-100px);
    width: 2013px;
    height: 973px;
    position: absolute;    
    transform: translate(-0.5%, -2.1%) scale(1.5);
}

#canvas {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    /* cursor: none; */

    @media only screen and (max-width: 600px) {
        cursor: cell;
    }
}