html, body, div{
 margin: 0px; 
 padding: 0px; 
 overflow: hidden !important; 
 justify-content: center;
 border: none; 
 /* cursor: none; */
}
body {
    position: relative;
}

#cursor {
    z-index: 1;
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 100%;
    position: absolute;
    transition: ease;
}

.video {
    max-width: calc(100%-100px);
    max-height: calc(100%-100px);
    width: 2013px;
    height: 973px;
    position: absolute;
    
    transform: translate(-0.5%, -2.1%) scale(1.5);
}

#canvas {
    width: 3000;
    height: 1000;
    /* position: absolute; */
    margin: 0%;
    overflow: hidden;
    transform: translate(-0%, -0%);
    transition: linear;
    /* cursor: url('images/circle.png'), auto; */
    
}
