html, body, div{
 margin: 0px; 
 padding: 0px; 
 overflow: hidden !important; 
 justify-content: center;
 align-items: center;
 border: none; 
 /* cursor: none; */
}
body {
    position: relative;
}

.cursor {
    z-index: 1;
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 100%;
    border: 26px solid black;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
    transition: linear;
    pointer-events: none;
    animation: animate 5s linear infinite;
}
.cursor.hover {
    width: 64px;
    height: 64px;
    border: 2px solid black;
}

.video {
    max-width: calc(100%-100px);
    max-height: calc(100%-100px);
    width: 2013px;
    height: 973px;
    position: absolute;
    
    transform: translate(-0.5%, -2.1%) scale(1.5);
}

#canvas {
    width: 3000;
    height: 1000;
    /* position: absolute; */
    margin: 0%;
    overflow: hidden;
    transform: translate(-0%, -0%);
    transition: linear;
    /* cursor: url('images/circle.png'), auto; */
    
}
